
.fa-star {
  color: #EFD807;
}
.tcb-carousel-reviews {
  background: unset;
}
.tcb-carousel-reviews .carousel-control.left,
.tcb-carousel-reviews .carousel-control.right {
  background: none;
  width: 75px;
}

#chevrcontrol {
  background-color: unset;
  font-size: 30px;
}

.tcb-carousel-reviews .item {
  padding: 30px;
}
.tcb-carousel-reviews .block-text {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 0 #3ebd93;
  color: #626262;
  font-size: 14px;
  margin-top: 27px;
  padding: 15px 18px;
  position: relative;
}
.tcb-carousel-reviews .block-text a {
  color: #3ebd93;
  font-size: 25px;
  font-weight: bold;
  line-height: 21px;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.tcb-carousel-reviews .block-text p {
  color: #585858;
  font-family: Georgia;
  font-style: italic;
  line-height: 20px;
}
.tcb-carousel-reviews .block-text ins {
  bottom: -44px;
  left: 50%;
  margin-left: -60px;
}
.tcb-carousel-reviews .mark {
  padding: 12px 0;
  background: none;
}
.tcb-carousel-reviews .sprite-i-triangle {
  background-position: 0 -1298px;
  height: 44px;
  width: 50px;
  position: absolute;
}
.tcb-carousel-reviews .person-text {
  position: relative;
  padding: 10px 0 0;
  text-align: center;
  z-index: 2;
}
.tcb-carousel-reviews .person-text a {
  font-family: 'Kaushan Script', cursive;
  color: #FFF;
  font-size: 1.7em;
  display: block;
  margin-top: 3px;
}
.tcb-carousel-reviews .person-text i {
  color: #fff;
  font-family: 'Kaushan Script', cursive;
  font-size: 1em;
}
.tcb-carousel-reviews .person-text .reviewer {
  display: inline-block;
  max-width: 80px;
  border-radius: 50%;
  overflow: hidden;
}
#engagebttn {
  color: #FFF;
  border-style: solid;
  border-width: thin;
  border-color: #FFF;
  color: #FFF;
  font-size: 1.2em;
  width: fit-content;
  margin: auto;
  margin-top: 5px;
  padding: 5px;
}


/* a enlever si inutile apres reinstallation css hugues*/
body {
  padding-right : 0;
  padding-left : 0;
}

#getupmobile {
    background: -webkit-linear-gradient(30deg, #5CB9CD 35%, #3EBD93);
    background: -moz-linear-gradient(30deg, #5CB9CD 35%, #3EBD93);
    background: -ms-linear-gradient(30deg, #5CB9CD 35%, #3EBD93);
    background: -o-linear-gradient(30deg, #5CB9CD 35%, #3EBD93);
    background: linear-gradient(30deg, #5CB9CD 35%, #3EBD93);
}

#sellyourmobile {
    margin-top: 50px;
    font-size: 2em;
}

.button_servselec {
    max-width: 30vw;
}

.button_servselec_img {
    max-width: 100%;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.row {
   margin-left: 0;
   margin-right: 0;
}

#excellent {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

#wecare {
    font-family: 'Kaushan Script', cursive; 
    color: #FFF;
    font-size: 1.7em;
}

#login_div {
   width: 100%;
   float : right;
   padding-right : 50px;
}

#paral {
    background-attachment: fixed;
    background-position: 0px 350px;
}

#buyer_footer,
#link_footer {
   display:none;
}

#picture_hero{
}

#rowhero-banner {
   height: 10vh;
}

#svg-logo{
  width : 25vw;
  height : auto;
  max-width : 300px;
  border-right-style: solid;
  padding-right: 25px;
  border-right-color: #fff;
  border-right-width: 2px;
}
#logo-moto {
   height: 25vh;
}
#logo {
   padding-left: 50px;
   margin: 5px;
}
#moto {
  padding-right: 0px;
  height: fit-content;
  display: inline-flex;
  vertical-align: middle;
}
.hero-banner h1 > span {
   color : #034a56;
   font-weight: 600;
}
.hero-banner h1 {
    font-size: 40px;
    font-weight: 500;
    /*letter-spacing: 2px;*/
    color: #ffffff;
    /*text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 3px 3px 0px rgba(0,0,0,0.05);*/
    text-align: left;
    line-height: 110%;
}

h2 {
  font-family: inherit;
  color: #FFF;
  font-size: 3em;
  }

.h2cursive {
  font-family: 'Kaushan Script', cursive;
  color: #FFF;
  font-size: 3em;
}

#features {
   font-size : 18px;
}

#smart4all {
   max-width: 992px;
}

/*div[class="col-md-4 text-center"]:after {
content: '';
position: absolute;
width: 50%;
left: 25%;
bottom: -20px;
border-bottom: 1px solid white;
}*/

@media (max-width : 992px) {
   #hero {
      background-position: center;
   }
   #smart4all {
      max-width: 100%;
   }
   
   #logo-moto {
      height : unset;
      margin-top : 32px !important;
   }
   #svg-logo {
      border-bottom-style: none;
      max-width: 80%;
      width: unset;
      height: 20vh;
      padding-right: 0;
      border-right-style: none;
   } 
   #logo {
      padding-right: 10px;
      padding-left : 10px;
      margin-right: 10vw;
      margin-left : 10vw;
      text-align: center;
      border-bottom-style: groove;
      padding-bottom: 25px;
      border-bottom-color: #FFF;
      border-bottom-width: 2px;
   }
   #moto {
         padding-right: 10px;
         padding-left : 10px;
         float : left;
         width: 100%;
   }
   .hero-banner h1 {
    font-size: 35px;
    text-align: center;
    width: 100%;
   }
  
  #sellyourmobile {
    margin-top: 10px;
}
  h2 {
    font-size: 2em;
  }
  
  h4 {
    font-size: 1em;
  }
}

@media (max-width: 640px) {
   #paral {
      background-size: 100% 100%;
      background-attachment:initial !important;
   }
   
  .hero-banner h1 {
    font-size: 25px;
    text-align: center;
   }
   
   
}

@media (max-width: 480px) {

   
   #video_hero {
         display : none;
      }

     #logo {
         padding-right: 10px;
         padding-left : 10px;
         text-align: center;
     }
     #moto {
         padding-right: 10px;
         padding-left : 10px;
         float : left;
     }
  
  .hero-banner h1 {
    font-size: 20px;
    text-align: center;
   }
  
  h2 {
    font-size: 1.4em;
  }
  
  h4 {
    font-size: 0.8em;
  }

@media (max-width: 767px) and (min-width: 481px){
   body {
    padding: 0 ;
   }
}

/*ipad*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
   #video_hero {
         display : none;
      }

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #video_hero {
         display : none;
      }
      #svg-logo {
      max-width: 80%;
      width: unset;
      height: 20vh; 
      border-bottom-style: none;
      }
}
/* iPad retina */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2){
   #video_hero {
         display : none;
      }
      #svg-logo {
      max-width: 80%;
      width: unset;
      height: 20vh;
      border-bottom-style: none;
      }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2){
   #video_hero {
         display : none;
      }
      #svg-logo {
      border-bottom-style: none;
      max-width: 80%;
      width: unset;
      height: 20vh;
      }
}


   
 
/*@media (max-width: 768px) {
   .hero-banner h1 {
     text-align: center;
     margin : 0px 10px 0px 10px;
     font-weight : 400;
     font-size : 200%;
    }
   #rowhero-banner {
      height: unset;
   }
   #logo {
      max-height : unset;
      float : unset;
      margin : auto;
      margin-top:20px;
   }
   #logo.pull-left {
    float: unset !important;
}*/
