#login_div {
   width: 100%;
   float : right;
   padding-right : 50px;
}

#video_hero {
   width: 100%;
   height: auto;
   position: absolute;
   top: 0px;
   left: 0px;
   z-index:-10;
}

#picture_hero{
}

#rowhero-banner {
   height: 10vh;
}

#svg-logo{ /* svg into : object, img or inline */
  width : 15vw;
  height : auto;
  max-width : 300px;
}

#logo {
   padding-left: 50px;
   max-height: 8vh;
   margin: 5px;
}
#moto {
   padding-right: 50px;
}
.hero-banner h1 > span {
   color : #034a56;
   font-weight: 600;
}
.hero-banner h1 {
    font-size: 50px;
    font-weight: 500;
    /*letter-spacing: 2px;*/
    color: #ffffff;
    /*text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 3px 3px 0px rgba(0,0,0,0.05);*/
    text-align: right;
    line-height: 110%;
}

#features h3{
   font-size : 18px;
}

div[class="col-md-4 text-center"]:after {
content: '';
position: absolute;
width: 50%;
left: 25%;
bottom: -20px;
border-bottom: 1px solid white;
}

@media (max-width : 1000px) {
   #logo-moto {
      margin-top : 32px !important;
   }
   #svg-logo {
         width : 40vw; 
   }   
   #logo {
         padding-right: 10px;
         padding-left : 10px;
         text-align: center;
   }
   #moto {
         margin-top: 25px;
         padding-right: 10px;
         padding-left : 10px;
         float: unset;
   }
}

@media (max-width: 480px) {
      #video_hero {
         display : none;
      }
      #svg-logo {
         width : 50vw; 
      }
      #hero_ban {
         background-image: url("../img/landing_HQ_portrait.jpg");
         background-repeat: no-repeat;
         background-size: cover;
     }
     #logo {
         padding-right: 10px;
         padding-left : 10px;
         text-align: center;
     }
     #moto {
         margin-top: 25px;
         padding-right: 10px;
         padding-left : 10px;
         float: unset;
     }
   footer {
      height : 0px;
   }
}

@media (max-width: 767px) and (min-width: 481px){
   body {
    padding: 0 ;
   }
}
/*@media (max-width: 768px) {
   .hero-banner h1 {
     text-align: center;
     margin : 0px 10px 0px 10px;
     font-weight : 400;
     font-size : 200%;
    }
   #rowhero-banner {
      height: unset;
   }
   #logo {
      max-height : unset;
      float : unset;
      margin : auto;
      margin-top:20px;
   }
   #logo.pull-left {
    float: unset !important;
}*/

