#login_div {
   width: 100%;
   float : right;
   padding-right : 50px;
}

#paral {
    background-attachment: fixed;
    background-position: 0px 350px;
}

#video_hero {
   min-height: 100vh;
   min-width: 100vw;
   /*width: 100%;
   height: auto;*/
   position: absolute;
   top: 0px;
   left: 0px;
   z-index:-10;
}

#buyer_footer,
#link_footer {
   display:none;
}

#picture_hero{
}

#rowhero-banner {
   height: 10vh;
}

#svg-logo{
  width : 25vw;
  height : auto;
  max-width : 300px;
}
#logo-moto {
   height: 35vh;
}
#logo {
   padding-left: 50px;
   margin: 5px;
}
#moto {
   padding-right: 50px;
}
.hero-banner h1 > span {
   color : #034a56;
   font-weight: 600;
}
.hero-banner h1 {
    font-size: 50px;
    font-weight: 500;
    /*letter-spacing: 2px;*/
    color: #ffffff;
    /*text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 3px 3px 0px rgba(0,0,0,0.05);*/
    text-align: right;
    line-height: 110%;
}

#features h3{
   font-size : 18px;
}

/*div[class="col-md-4 text-center"]:after {
content: '';
position: absolute;
width: 50%;
left: 25%;
bottom: -20px;
border-bottom: 1px solid white;
}*/

@media (max-width : 992px) {
   #logo-moto {
      height : unset;
      margin-top : 32px !important;
   }
   #svg-logo {
         width : 50vw; 
   } 
   #logo {
         padding-right: 10px;
         padding-left : 10px;
         text-align: center;
   }
   #moto {
         margin-top: 25px;
         padding-right: 10px;
         padding-left : 10px;
         float: unset;
   }
   .hero-banner h1 {
    font-size: 35px;
    text-align: center;
   }
}

/* test parralax sur mobile
@media (max-width: 640px) {
   #paral {
      background-size: 100% 100%;
      background-attachment:initial !important;
   }
}
*/

@media (max-width: 640px) {
   #paral {
      background-size: contain;
      background-attachment:fixed;
   }
}

@media (max-width: 480px) {
      #video_hero {
         display : none;
      }
      #svg-logo {
         width : 50vw; 
      }
      #hero_ban {
         background-image: url("../img/landing_HQ_portrait2.jpg");
         background-repeat: no-repeat;
         background-size: cover;
     }
     #logo {
         padding-right: 10px;
         padding-left : 10px;
         text-align: center;
     }
     #moto {
         margin-top: 25px;
         padding-right: 10px;
         padding-left : 10px;
         float: unset;
     }
    .hero-banner h1 {
    font-size: 30px;
    text-align: center;
   }
}

@media (max-width: 767px) and (min-width: 481px){
   body {
    padding: 0 ;
   }
}

/*ipad*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
   #video_hero {
         display : none;
      }
      #svg-logo {
         width : 50vw; 
      }
      #hero_ban {
         background-image: url("../img/landing_HQ_paysage2.jpg");
         background-repeat: no-repeat;
         background-size: cover;
     }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #video_hero {
         display : none;
      }
      #svg-logo {
         width : 50vw; 
      }
      #hero_ban {
         background-image: url("../img/landing_HQ_portrait2.jpg");
         background-repeat: no-repeat;
         background-size: cover;
     }
}
/* iPad retina */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2){
   #video_hero {
         display : none;
      }
      #svg-logo {
         width : 50vw; 
      }
      #hero_ban {
         background-image: url("../img/landing_HQ_paysage2.jpg");
         background-repeat: no-repeat;
         background-size: cover;
     }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2){
   #video_hero {
         display : none;
      }
      #svg-logo {
         width : 50vw; 
      }
      #hero_ban {
         background-image: url("../img/landing_HQ_portrait2.jpg");
         background-repeat: no-repeat;
         background-size: cover;
     }
}


   
 
/*@media (max-width: 768px) {
   .hero-banner h1 {
     text-align: center;
     margin : 0px 10px 0px 10px;
     font-weight : 400;
     font-size : 200%;
    }
   #rowhero-banner {
      height: unset;
   }
   #logo {
      max-height : unset;
      float : unset;
      margin : auto;
      margin-top:20px;
   }
   #logo.pull-left {
    float: unset !important;
}*/

