ul#top_menu > li:first-child {
display : none;
}

#wrap {
	margin-left : 15px;
	margin-right : 15px;
}
footer{
   margin-left : 15px;
   margin-right : 15px;
}

.label {
	padding: .3em .3em .3em;
	vertical-align: bottom;
}
.label-primary {
    background-color: rgba(0, 0, 0, 0.37);
}
.container {
	padding-left : 0;
	padding-right : 0;hrg-
}

/* footer */

footer .block-social .list-social li > a {
	display : inline;
}

footer .block-social .list-social li {
    list-style: none;
    display: inline;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    border-left: solid #333333 1px;
}

footer .block-social .list-social li:first-child,
footer .block-social .list-social li:nth-child(5),
footer .block-social .list-social li:nth-child(6){
	border-left: none;
}

footer .fa {
  /*padding: 20px;
  font-size: 30px;*/
  width: 30px;
  /*text-align: center;
  text-decoration: none;
  margin: 5px 2px;*/
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* fin footer */

/* début searchbar */

.searchbox-shape {
	border-top : solid 1px rgba(255,255,255,0.29);
	border-bottom : solid 1px white;
	background : transparent;
	height : 62px;
	position : relative;
	margin-top : 20px;
}

#search2{
	height : 62px;
	padding : 0 10px;
	border : none;
	width : 100%;
	display : block;
	max-width : 100%;
}

inptut, select, textarea {
	color : white;
}
input::placeholder {
	color : white;
	font-size : 18px;
	font-weight : 350;
}

input::-ms-input-placeholder {
	color : white;
	font-size : 18px;
	font-weight : 350;
}

.btn-search2{
	background : rgba(43, 43, 43, 0.15);
	color : #fff;
	position : absolute;
	right : 15px;
	top : 13px;
	width : 35px;
	height : 35px;
	border-radius : 90%;
	border : none;
	text-align : center;
}

.material-icons {
	font-size : 45px
}

/* fin searchbar */

@media (max-width: 767px) and (min-width: 481px){
	body {
	    padding: 0;
	}
}
@media (max-width: 480px){
	body {
    	    padding: 0;
	}
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
@media (min-width: 992px) {
    .container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
@media (min-width: 768px) {
    .container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.bg-alpha-gradient {
    background-color: #288a90;
    background-image: -webkit-linear-gradient(310deg, #288a90 20%, #0a4139 80%);
    background-image: -moz-linear-gradient(310deg, #288a90 20%, #0a4139 80%);
    background-image: -ms-linear-gradient(310deg, #288a90 20%, #0a4139 80%);
    background-image: -o-linear-gradient(310deg, #288a90 20%, #0a4139 80%);
    /*background-image: linear-gradient(150deg, #1cc1a9 20%, #0a4139 80%);*/
    background-image: linear-gradient(190deg,#288a90 25%, #18bd90 80%, #eae8ae 99%);
}

a.svg {
    float: left;
    margin: auto;
    margin-top: 10px;
    margin-left: 50px;
    width: 120px;
    margin-bottom: 10px;
}

.navbar .navbar-default .navbar-static-top{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 2px 20px 0 rgba(0,0,0,0.19);
    background-image: linear-gradient(181deg,#288a90 5%, #18bd90 50%, #eae8ae 95%);
}

.navbar-default {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 2px 20px 0 rgba(0,0,0,0.19);
    background-image: linear-gradient(181deg,#288a90 5%, #18bd90 50%, #eae8ae 95%);
    border : none;
    font-size : large;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    margin-right: 0px;
}

#top_menu {
  margin-top : 15px;
  margin-bottom : 5px;
}

.navbar.navbar-static-top ul.nav > li.divider {
    display: none;
    /* margin-top: 15px; */
    /* padding-top: 20px; */
    /* border-right: 1px solid grey; */
}

/*.navbar-default .navbar-nav > li > a {
  color : #FFFFFF;
}*/
.navbar-default .navbar-nav > li > a {
    line-height: 30px;
    color : white;
    border-top: 1px solid rgba(255, 255, 255, 0.29);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    font-weight: 350;
    border-radius : 0;
}
.navbar-default .navbar-nav > .active > a {
	background-color: rgba(43, 43, 43, 0.24);
	color: white;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    font-weight : 450;
	color: white;
	background-color: rgba(43, 43, 43, 0.24);
	border-radius: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.29);
	border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
/*.navbar-default .navbar-nav > .dropdown > a,*/
.navbar-default .navbar-nav > .dropdown > a:hover,
.navbar-default .navbar-nav > .dropdown > a:focus {
    font-weight: 450;
    color: white;
    background-color: rgba(43, 43, 43, 0.24);
	border-radius: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.29);
	border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.navbar-default .navbar-nav > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > .dropdown-menu > li > a:focus {
    font-weight: 450;
    color: white;
    background-color: rgba(43, 43, 43, 0.24);
	border-radius: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.29);
	border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.navbar-default .navbar-nav > .dropdown-menu > ul {
  border-radius : 5px;
}

.navbar-default .navbar-nav > a:hover,
.navbar-default .navbar-nav > a:focus {
  font-weight: 450;
    color: white;
    background-color: rgba(43, 43, 43, 0.24);
	border-radius: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.29);
	border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
   font-weight: 450;
    color: white;
    background-color: rgba(43, 43, 43, 0.24);
	border-radius: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.29);
	border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.navbar-default .navbar-nav > .open > a {
  font-weight: 350;
}

.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  font-weight: 450;
    color: white;
    background-color: rgba(43, 43, 43, 0.24);
	border-radius: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.29);
	border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.nav > li {
    position: relative;
    display: block;
    margin: 5px 20px 5px 0px;
    /*height: 35px;*/
    /*border-left: 2px solid #777777;*/
}

#wrapwrap table.table, .o_editable table.table, #cart_products, table#cart_products   {
    table-layout: auto;
}

.navbar-default .navbar-toggle {
	margin-right: 25px;
	margin-top: 25px;	
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
    border : 2px solid white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle .icon-bar:hover,
.navbar-default .navbar-toggle .icon-bar:focus{
    background-color: white;
    height: 3px;
}

/*Enlève des élements du footer pour les petits devices*/
@media (max-width: 480px) {
	#about_footer,
	#link_footer{
		display : none;
	}
}


/*change le breakpoint pour la navbar à 1000px (768 par défaut trop faible)*/
@media (max-width: 992px) {

   .nav > li {
       margin: 5px 0px 5px 0px;
   }
	
   .dropdown-menu {
      position : unset;
   }
  .navbar-default .navbar-nav > li > a{
    line-height : 10px;
    border : 0;
    text-align : center;
  }
  .navbar-header {
      float: none;
      margin-left: 0;
      margin-right: 0;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
