header {
  display : unset;
  position : fixed;
}

.navbar .navbar-default .navbar-static-top {
  background : transparent;
  box-shadow : unset;
}

.navbar-default {
  background : transparent;
  box-shadow : unset;
}

.navbar-header {
  display : none;
}

#top_menu > li:nth-child(-n+4) {
display : none;
}


