header {
  display : unset;
  position : fixed;
}

.navbar .navbar-default .navbar-static-top {
  background : transparent;
  box-shadow : unset;
}

.navbar-default {
  background : transparent;
  box-shadow : unset;
}

a.svg {
  display : none;
}

#top_menu {
  margin-top : 0px;
  margin-bottom : 0px;
}

ul#top_menu > li > a {
  border : none;
}

ul#top_menu > li:nth-child(-n+4) {
display : none;
}

@media (maw-width: 1000px) {
  #top_menu {
    background : white;
  }
  ul#top_menu > li > a {
    color : #333333;
  }
}

@media (max-width: 480px) and (orientation: portrait) {
  ul#top_menu {
      background: rgba(0, 0, 0, 0.44);
      margin-left: 20px;
  }
  .dropdown-menu {
    position: unset;
    background: rgba(0, 0, 0, 0.60);
  }
  
}


