header {
  display : unset;
  position : fixed;
}

.navbar .navbar-default .navbar-static-top {
  background : transparent;
  box-shadow : unset;
}

.navbar-default {
  background : transparent;
  box-shadow : unset;
}

a.svg {
  display : none;
}

#top_menu {
  margin-top : 0px;
  margin-bottom : 0px;
}

ul#top_menu > li > a {
  line-height : 30px;
  border : none;
}

ul#top_menu > li:nth-child(-n+4) {
display : none;
}

@media (max-width: 992px){
  ul#top_menu {
      background: rgba(0, 0, 0, 0.44);
      margin-left: 20px;
  }
  #tope_menu.dropdown-menu {
    position: unset;
    background: rgba(0, 0, 0, 0.60);
  }
  #top_menu.dropdown-menu > li > a {
    color : white;
  }
  
}


